* {
  box-sizing: border-box;
}

html {
  color: $color-black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 62.5%; // 1rem = 10px, 10/16 = 62.5%
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased;
}

body
{
  background-color: $color-cream;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
