@mixin respond($size) {
  @if $size == phone-only { // 600px
    @media only screen and (max-width: 37.5em) { @content };
  }
  @else if $size == tab-port { // 600px+
    @media only screen and (min-width: 37.5em) { @content };
  }
  @else if $size == tab-land { // 900px+
    @media only screen and (min-width: 56.25em) { @content };
  }
  @else if $size == desktop { // 1200px+
    @media only screen and (min-width: 75em) { @content };
  }
  @else if $size == big-desktop { // 1800px
    @media only screen and (min-width: 112.5em) { @content };
  }
}

/* === MEDIA QUERY MANAGER ===
0 - 600       Phone-Only
600 - 900     Tablet Portrait
900 - 1200    Tablet Landscape
1200 - 1800   Desktop
1800+         Big Desktop 

USAGE: @include respond(size) { styles-go-here; }
*/