.heading {
  &--main {
    font-size: 5rem;
  }

  &--sub {
    font-size: 4rem;
  }
}

.text-container {
}

.body-text {
  font-size: $font-size-large;
}

.paragraph {
}

@media only screen and (max-width: 550px){
  .body-text {
    font-size: $font-size-small;
  }
}