.form {
  font-size: $font-size-small;

  &__group {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__label {
    text-align: right;
    width: 50%;
    margin-right: 1rem;
  }

  &__input-container {
    text-align: left;
    width: 50%;
  }

  &__input {
    border: 1px solid black;
    border-radius: $rounded-borders-small;
    height: 3rem;
    width: 20rem;
  }
}