.form {
  font-size: $font-size-small;
  margin-bottom: 3rem;
  width: 50rem;

  @include respond(tab-port) {
    height: 22rem;
    width: 25rem;
  }

  &__group {
    margin: 2rem 0 2rem 0;
    width: 100%;

    display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    
    
    @include respond(tab-port) {
      flex-direction: column;
      margin: 2rem 0;
    }
  }

  &--register {
    @include respond(tab-port) {
      height: 47rem;
    }
  }

  &__container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;

    display: flex;
      flex-flow: row wrap;
      justify-content: center;
  }

  &__label {
    margin-right: 1rem;
    font-weight: bold;
    text-align: right;
    width: 55%;


    @include respond(tab-port) {
      text-align: center;
      margin-right: 0;
      margin-bottom: 1rem;
      width: 90%;
    }
  }

  &__input-container {
    text-align: left;
    width: 100%;

    @include respond(tab-port) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__input {
    border: 1px solid black;
    border-radius: $rounded-borders-small;
    height: 3rem;
    padding-left: .8rem;
    width: 90%;

    @include respond(tab-port) {
      padding-left: 0;
      text-align: center;
      width: 90%;
    }
  }

  &__add,
  &__edit {
    width: 55rem;
    margin: 0 auto;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__checkbox {
    height: 2rem;
    width: 2rem;
    transform: translateY(5px);
  }

  &__button-container {
    width: 100%;

    display: flex;
      align-content: space-around;
      justify-content: center;

    & .button {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.add-entry,
.edit-entry {
  margin: 0 0 10px 0;
  
  button {
    margin: 20px 0 2rem 20px;

    @include respond(tab-port) {
      margin: 0;
      margin-bottom: 1rem;

      &:last-of-type {
        margin-top: 1rem;

        @include respond(tab-port) {
          margin-top: 0;
        }
      }
    }
  }

  @include respond(tab-port) {
    margin-bottom: 10rem;
  }
}

fieldset {
  border-radius: 5px;
  width: 100%;
  font-size: $font-size-medium;

  @include respond(tab-port) {
    margin: 0 auto;
    width: 95%;
  }
}

.password {
  position: relative;
}

.hidden {
  background-color: $color-white;
  border: none;
  cursor: pointer;
  outline-color: #eee;
  position: absolute;
    top: 0.35rem;
    right: 3.4rem;
  
  @include respond(tab-port) {
    right: 1.5rem;
  }

  svg path {
    fill: purple;
  }
}