.form {
  font-size: $font-size-small;

  &__group {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__label {
    text-align: right;
    width: 35%;
    margin-right: 1rem;
  }

  &__input-container {
    text-align: left;
    width: 65%;
  }

  &__input {
    border: 1px solid black;
    border-radius: $rounded-borders-small;
    height: 3rem;
    width: 20rem;
  }
}