.landing-body {
    display: flex;
    padding: 60px 0 0 0;
}

.landing-img {
    width: 50%;
    height: 50vw;
    svg {
        width: 70%;
        height: auto;
        margin: 100px 0 0 0;
        box-shadow: 4px 4px 4px rgb(148, 148, 148);
    }
}

.landing-text {
    padding: 11em 5em 2em 1em;
}

@media only screen and (max-width: 700px){
    .landing-body {
        flex-flow: row wrap;
        padding: 0;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .landing-img {
        width: 90%;
    }
    .landing-text {
        padding: 7em 1em 0 1em;
    }
}