.search-bar {
  &__input {
    border: 1px solid #aaa;
      border-radius: $rounded-borders-medium;
    box-shadow: $box-shadow-light;
    font-size: $font-size-medium;
    padding: 2rem;

    height: 5.4rem;
    width: 25rem;

    &:active,
    &:focus {
      outline-color: #bbb;
    }

    @include respond(tab-port) {
      height: 4rem;
    }
  }

  &__icon {
    color: #666;
    font-size: 2.4rem;
    opacity: 1;
    position: absolute;
    transform: translate(-23rem, 1.5rem);
    transition: opacity .1s ease-in;

    &--hidden {
      opacity: 0;
    }

    @include respond(tab-port) {
      font-size: 2rem;
      transform: translate(-23.5rem, 1.2rem);
    }
  }
}