.container {
}

.form__container
{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    height: 110%;
    background-color: white;
}

.form__input
{
    display: inline-block;
    width: 80%;
}