.footer {
  &__text {
    font-size: $font-size-small;
    background-color: #232222;
    padding: 20px;
    margin-top: 100%;
    color: $color-creamZ;
    position: fixed;
    left: 0;
    bottom: -16px;
    width: 100%;
    text-align: center;
  }
}
