.heading--main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px 0;
    color: black;
    left: 0;
    top: -50px;
    width: 100%;
    margin: 0;
    font-size: 2rem;
//background-image: url("http://drive.google.com/uc?export=view&id=10xTc_j8Xwdi5o-WZV27g7kJBJxkWUMDJ");
//background-size: 800px auto;
//background-repeat: no-repeat;
}
