.heading__main {
     display: flex;
    align-items: center;
    padding: 30px;
    color: #fefadc;
    position: fixed;
    left: 0;
    top: -50px;
//background-image: url("http://drive.google.com/uc?export=view&id=1gs3UgOkRSDlnJUxIbMr6Jp0s6V1XTOL3");
//background-size: 800px auto;
//background-repeat: no-repeat;
}

#toggle 
{
    background-color: #232222;
}