.heading--main {
    display: flex;
    align-items: center;
    padding: 25px;
    color: white;
    left: 0;
    top: -50px;
    width: 100%;
    margin: 0;
    font-size: 2rem;
//background-image: url("http://drive.google.com/uc?export=view&id=1gs3UgOkRSDlnJUxIbMr6Jp0s6V1XTOL3");
//background-size: 800px auto;
//background-repeat: no-repeat;
}